<!DOCTYPE html>
<html lang="zh">
<head>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <title>Index - Parking Lot System</title>
  <meta name="description" content="Parking Lot - Booking Your Parking Slot.">
  <meta name="author" content="Mei Zuhao">

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/time.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700,900&display=swap" rel="stylesheet">

  <style>
    #time {
      position: relative;
      margin-left:auto;
      margin-right:auto;
      height: 50px;
      line-height:50px;
    }

    #time canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  </style>

</head>
<body>

  <div class="container">
    <div class="page-header-extended">
      <img src="img/logo.jpg" height="70" width="70"/>
      <img src="img/title.png" height="60"/>
    </div>

    <div><span class="clock"></span></div>

    <div class="starter-template">
      <div class="info-table-header-block">
        <div class="alert alert-info" role="alert">
          每天22:00可预约第二天停车位，点击
          <a onclick="initBookingInfo()" href="" data-toggle="modal" data-target="#bookingInfo" class="alert-link">下单</a>
          进入预约。
        </div>
      </div>

      <table>
        <thead>
        <tr>
          <th>用户名</th>
          <th colspan="2">车辆信息</th>
          <th colspan="2">车位信息</th>
          <th colspan="2">
            订单信息
            {{if ne .Booking.StartTime.Year 0001}}
            {{end}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="4">{{.Username}}</td>
          <td>车牌号</td>
          <td>{{.Car.CarName}}</td>
          <td>车位名</td>
          <td>
            {{if .Spot.SpotName}}
              {{.Spot.SpotName}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>开始时间</td>
          <td>
            {{if ne .Booking.StartTime.Year 0001}}
            {{.Booking.StartTime.Format "2006-01-02  15:04:05"}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
        </tr>
        <tr>
          <td>是否在车位内</td>
          <td>
            {{if eq .Car.IsParking 1}}
            <img src="img/yes.png" height="20" width="20"/>
            {{else}}
            <img src="img/no.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>是否位于室内</td>
          <td>
            {{if .Spot.SpotName}}
            {{if eq .Spot.Indoor 1}}
            <img src="img/yes.png" height="20" width="20"/>
            {{else}}
            <img src="img/no.png" height="20" width="20"/>
            {{end}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>结束时间</td>
          <td>
            {{if ne .Booking.EndTime.Year 0001}}
              {{.Booking.EndTime.Format "2006-01-02  15:04:05"}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
        </tr>
        <tr>
          <td>上次进入时间</td>
          <td>
            {{if ne .Car.EntryTime.Year 0001}}
              {{.Car.EntryTime.Format "2006-01-02  15:04:05"}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>是否有充电桩</td>
          <td>
            {{if .Spot.SpotName}}
            {{if eq .Spot.Charging 1}}
            <img src="img/yes.png" height="20" width="20"/>
            {{else}}
            <img src="img/no.png" height="20" width="20"/>
            {{end}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>待付费用</td>
          <td>
            {{if .Fee}}
              {{.Fee}}元
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
        </tr>
        <tr>
          <td>上次离开时间</td>
          <td>
            {{if ne .Car.OutTime.Year 0001}}
              {{.Car.OutTime.Format "2006-01-02  15:04:05"}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>停车费(元)/天</td>
          <td>
            {{if .Spot.SpotName}}
            {{if .Spot.DailyFee}}
              {{.Spot.DailyFee}}
            {{else}}
              <img src="img/no.png" height="20" width="20"/>
            {{end}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td colspan="2">
          {{if .Spot.SpotName}}
            <a href="javascript:void(0);" onclick="CancelBooking()" class="badge badge-secondary td-badge">取消订单</a>
          {{end}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="info-table-footer-block">
        <button type="button" class="btn btn-primary btn-lg double-button" onclick="Entry()">
          进入停车场
        </button>
        <button type="button" class="btn btn-primary btn-lg double-button" onclick="Out()">
          离开停车场
        </button>
      </div>
      <div class="info-table-footer-block">
        <button type="button" class="btn btn-danger btn-lg slot-button" onclick="Logout()">
          登出账号
        </button>
      </div>
    </div>
    <footer>
      Made by Mei Zuhao | <a href="https://github.com/mzhow/ParkingLot">GitHub</a>
    </footer>

    <!-- Modal -->
      <div class="modal fade" id="bookingInfo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <img src="img/booking-title.png" height="60"/>
            </div>
            <div><p></p><span class="clock model-clock"></span></div>
            <span class="required-field">*新订单创建后旧的订单将会失效</span>
            <!-- User Create Modal Start -->
            <div class="model-control">
            <div class="modal-body">
              <form id="bookingForm" action="">

                <div class="form-group">
                <label>剩余车位</label>
                <table>
                  <thead>
                  <tr>
                    <th colspan="2"><span id="date1"></span></th>
                    <th colspan="2"><span id="date2"></span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>室内</td>
                    <td>室外</td>
                    <td>室内</td>
                    <td>室外</td>
                  </tr>
                  <tr>
                    <td><span id="indoor1"></span></td>
                    <td><span id="outdoor1"></span></td>
                    <td><span id="indoor2"></span></td>
                    <td><span id="outdoor2"></span></td>
                  </tr>
                  </tbody>
                </table>
                </div>

                <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="bookingDate1" name="bookingDate" class="custom-control-input" required="required">
                  <label id="labelForDate1" class="custom-control-label" for="bookingDate1"></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="bookingDate2" name="bookingDate" class="custom-control-input" required="required">
                  <label id="labelForDate2" class="custom-control-label" for="bookingDate2"></label>
                </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="needCharging">
                    <label class="custom-control-label" for="needCharging">需要充电桩</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input" type="checkbox" id="chooseIndoor" value=1>
                    <label class="custom-control-label" for="chooseIndoor">室内车位<span class="required-field">+10元/天</span></label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input" type="checkbox" id="chooseOutdoor" value=1 checked>
                    <label class="custom-control-label" for="chooseOutdoor">室外车位</label>
                  </div>
                </div>

                <div class="form-group">
                  <div id="captcha"></div>
                  <input type="text" class="form-control" id="validateCode" name="validateCode" placeholder="请输入验证码" required>
                </div>

                <div class="form-msg">
                  <p id="form-msg"></p>
                </div>

                <div class="modal-footer-extended">
                  <button type="button" class="btn btn-primary booking-button" onclick="makeBooking()"><img src="img/booking-button.png" height="30"/></button>
                  <button type="button" class="btn btn-secondary booking-button" data-dismiss="modal"><img src="img/back-button.png" height="25"/></button>
                </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- User Create Modal End -->
  </div>

  <!-- Delete Confirmation Dialog Start -->
  <div id="show_user_info">
    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteDialogTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="deleteDialog">Warning!</h4>
          </div>
          <div class="modal-body">
            <h4>Are you sure, want to delete this vehicle? </h4>
            <input type="hidden" id="deleted-member-id" value="">
            <div class="modal-footer-extended">
              <button class="btn btn-danger" onclick="deleteMemberData()">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Confirmation Dialog End -->


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/time.js"></script>

</body>
</html>