<!DOCTYPE html>
<html lang="zh">
<head>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <title>Index - Parking Lot System</title>
  <meta name="description" content="Parking Lot - Booking Your Parking Slot.">
  <meta name="author" content="Mei Zuhao">

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/time.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700,900&display=swap" rel="stylesheet">

  <style>
    #time {
      position: relative;
      margin-left:auto;
      margin-right:auto;
      height: 50px;
      line-height:50px;
    }

    #time canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  </style>

</head>
<body>

  <div class="container">
    <div class="page-header-extended">
      <img src="img/logo.jpg" height="70" width="70"/>
      <img src="img/title.png" height="60"/>
    </div>

    <div><span class="clock"></span></div>

    <div class="starter-template">
      <div class="info-table-header-block">
        <button type="button slot" onclick="initBookingInfo()" class="btn btn-success btn-lg slot-button" data-toggle="modal" data-target="#addnewModal">
          预约停车位
        </button>
        <div class="required-field">
        <span>*每天22:00可预约第二天停车位</span>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>用户名</th>
          <th colspan="2">车辆信息</th>
          <th colspan="2">车位信息</th>
          <th colspan="2">
            订单信息
            {{if ne .Booking.StartTime.Year 0001}}
            {{end}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="4">{{.Username}}</td>
          <td>车牌号</td>
          <td>{{.Car.CarName}}</td>
          <td>车位名</td>
          <td>
            {{if .Spot.SpotName}}
              {{.Spot.SpotName}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>开始时间</td>
          <td>
            {{if ne .Booking.StartTime.Year 0001}}
            {{.Booking.StartTime.Format "2006-01-02  15:04:05"}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
        </tr>
        <tr>
          <td>是否在车位内</td>
          <td>
            {{if eq .Car.IsParking 1}}
            <img src="img/yes.png" height="20" width="20"/>
            {{else}}
            <img src="img/no.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>是否位于室内</td>
          <td>
            {{if .Spot.SpotName}}
            {{if eq .Spot.Indoor 1}}
            <img src="img/yes.png" height="20" width="20"/>
            {{else}}
            <img src="img/no.png" height="20" width="20"/>
            {{end}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>结束时间</td>
          <td>
            {{if ne .Booking.EndTime.Year 0001}}
              {{.Booking.EndTime.Format "2006-01-02  15:04:05"}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
        </tr>
        <tr>
          <td>上次进入时间</td>
          <td>
            {{if ne .Car.EntryTime.Year 0001}}
              {{.Car.EntryTime.Format "2006-01-02  15:04:05"}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>是否有充电桩</td>
          <td>
            {{if .Spot.SpotName}}
            {{if eq .Spot.Charging 1}}
            <img src="img/yes.png" height="20" width="20"/>
            {{else}}
            <img src="img/no.png" height="20" width="20"/>
            {{end}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>待付费用</td>
          <td>
            {{if .Fee}}
              {{.Fee}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
        </tr>
        <tr>
          <td>上次离开时间</td>
          <td>
            {{if ne .Car.OutTime.Year 0001}}
              {{.Car.OutTime.Format "2006-01-02  15:04:05"}}
            {{else}}
              <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td>停车费(元)/天</td>
          <td>
            {{if .Spot.SpotName}}
            {{if .Spot.DailyFee}}
              {{.Spot.DailyFee}}
            {{else}}
              <img src="img/no.png" height="20" width="20"/>
            {{end}}
            {{else}}
            <img src="img/disabled.png" height="20" width="20"/>
            {{end}}
          </td>
          <td colspan="2">
          {{if .Spot.SpotName}}
            <a href="#" class="badge badge-secondary td-badge">取消订单</a>
          {{end}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="info-table-footer-block">
        <button type="button" class="btn btn-primary btn-lg double-button" onclick="Entry()">
          进入停车场
        </button>
        <button type="button" class="btn btn-primary btn-lg double-button" onclick="Out()">
          离开停车场
        </button>
      </div>
      <div class="info-table-footer-block">
        <button type="button" class="btn btn-danger btn-lg slot-button" onclick="Logout()">
          登出账号
        </button>
      </div>
    </div>
    <footer>
      Made by Mei Zuhao | <a href="https://github.com/mzhow/ParkingLot">GitHub</a>
    </footer>

    <!-- Modal -->
      <div class="modal fade" id="addnewModal" tabindex="-1" role="dialog" aria-labelledby="addnewModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
{{/*              <h4 class="modal-title" id="addnewModalTitle">秒杀停车位</h4>*/}}
              <img src="img/booking-title.png" height="60"/>
            </div>
            <div><p></p><span class="clock"></span></div>
            <!-- User Create Modal Start -->
            <div class="model-control">
            <div class="modal-body">
              <form id="saveMemberInfo">

                <div class="form-group">
                  <label for="reg_no">Registration no
                    <span class="required-field">*</span>
                  </label>
                  <input type="text" class="form-control" placeholder="Enter registration no:" id="reg_no" required />
                </div>

                <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="bookingDate1" name="bookingDate" class="custom-control-input">
                  <label class="custom-control-label" for="bookingDate1"><span id="date1"></span></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="bookingDate2" name="bookingDate" class="custom-control-input">
                  <label class="custom-control-label" for="bookingDate2"><span id="date2"></span></label>
                </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="needCharging">
                    <label class="custom-control-label" for="needCharging">需要充电桩</label>
                  </div>
                </div>

{{/*                <div class="form-group">*/}}
{{/*                <div class="form-check form-check-inline">*/}}
{{/*                  <input class="form-check-input" type="checkbox" id="chooseIndoor" value="option1">*/}}
{{/*                  <label class="form-check-label" for="chooseIndoor">室内车位<span class="required-field">+10元/天</span></label>*/}}
{{/*                </div>*/}}
{{/*                <div class="form-check form-check-inline">*/}}
{{/*                  <input class="form-check-input" type="checkbox" id="chooseOutdoor" value="option2">*/}}
{{/*                  <label class="form-check-label" for="chooseOutdoor">室外车位</label>*/}}
{{/*                </div>*/}}
{{/*                </div>*/}}

                <div class="form-group">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input" type="checkbox" id="chooseIndoor" value=1>
                    <label class="custom-control-label" for="chooseIndoor">室内车位<span class="required-field">+10元/天</span></label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input" type="checkbox" id="chooseOutdoor" value=1>
                    <label class="custom-control-label" for="chooseOutdoor">室外车位</label>
                  </div>
                </div>

                <div class="form-group">
                    <img id="captcha"
                         src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABQCAMAAAAQlwhOAAAA81BMVEUAAABkQHFeOmsoBDWPa5xMKFljP3CEYJEtCTqgfK1EIFGgfK1xTX5bN2ing7RGIlOUcKGphbZzT4A+Gkuad
qeXc6QzD0B7V4g6FkdgPG2deaqOaptNKVphPW6adqdYNGWXc6R3U4SBXY4vCzyXc6SVcaJqRndnQ3RBHU5jP3B+WouPa5wpBTZNKVqRbZ41EUJdOWqmgrNUMGGceKmCXo+ZdaZpRXZFIVKlgbKOaps+GksyDj+IZJVtSXqtibqhfa6AXI2Pa5ykg
LFwTH0pBTYqBjdCHk+adqdnQ3RDH1CBXY6kgLGlgbJKJlcsCDlkQHEuCjuTTbEfAAAAAXRSTlMAQObYZgAABiJJREFUeJzsWmlP6zwT9YitKkWAVDYhPrBdAdJlRwIqBOULUIn+/5/ziiTexmN77CRNX557rsR1nbE9x8fL2InoEtudtt4Qzvim2
9u/gPHZWQrjNj2ZFRL4UjjPLLdYr9nOcH7uMH7nlFtcnGPGo9BDl++7yfgPXQqA4nua7lsbGI2CjB1YfP/4GBN5p6fzwrhGWQ9fGk3zrbk8/d8haQPiAMiBOUcg+W7l1PRDFQrUdmrW2NrKYFxxxQq7OV4cpDfaFAq+xwkFQP7DCnu6gcLBAY8xa
0vPwPFxgDF2HyRMauDtBhpMvu+tMfY9+GFgZ3hGM5D9kIu76v+2+GIMZcJVi1ZQC1xjLdtTqbu7u5wK6HCGgeFwWBV3fK8kdNpRhr1shff2DMY5FSjv0psfquKIMF2Z0Qu9Xi9H4iKw3mMYToJPrVmlXfhi+UANTh8VY6b35CbNaqQC++g0mYQYg
w05x76+vpCzwdJuJmka+h0H+6gY5qtUsokrviDg26cZHhZVLmlNBCCdRGBKV5uv+fz7+9sTHwFQ9CxLsNrBha2M9Sb4xAB6Lpm0lbegFCZ0+8mQ2XdGLpiFTca4uJWzvt4O4223Vd3skQBxaatiDgFrFIIpsLEpVvXhEAMTHsxIYXyJarV6dHQkL
i8vpWfKY0EFE+VP+djkK/PtEMPursFgkBt7JCJ4iWopjMYx2kgARJ9coYouMAdHaeEonLFOtwCXov9Zv9/3hZVmOCOL4WWZCNG6AKZoPdMeFqk+uQWZsqoqwVmWgYw/ZwxnlyFiZDtJxcxgc9Ezw50giQqfkLnPSXW4rgZ8UKMSzKWYsHKW83IHU
0uZ0yssnJxQjJ+fsxlH+twc0fRWI+ijoV64AWCipjdP4AUj3bDClSevQQNraJIuB2IvEDCZTPSezuG7sJBMhI3CiddXL2PFV23NlMtehcvURI3ldIUbRuVAWGFrftIuu91Q2Z1Y8Wb6Ij1MM48hekJV+40/PBaeIV1k4TUnovAAZ8g7Fh6WYwaRB
Vqo6FlEBC5rOsMlnTUnovBg4DL22T64WcvLJOMV28tA+1rhkRV8eOzsNzb07pWqsBcPD5qx6lSa74pkzNkkSsLGe1F7CkyFmX+GS1LzuqlAy+BLbtUaK0brsSVEngZGVoYqNZ1OyXxvQNPOlUeYr916uH0QeOsEm8gUVYZiac/K3RHiCstDUPlDc
fKUAhCHnlOmtOjsUovZupLTIktQGZfmh4eH6lDom8EJfHt8UwYYrYMNv8Lj8bhS2L4cFObZCyBR4V6vWcacKYwF9vXS2C5hzmD09pAZaW2KxhXmTuEC7+zDDjzha1BAE4Pj2+bmZgoVHqJDWlEs3sbqM2Kw0NPTk31V7yhsDPNdbzXN841PYeUgG
G9j46vOk/O2QSus7rTL37u7fsZNg/Hy0LvQprWj6MnTklIYYDdx2a4DrsJEZkob1l+ssDLL8L8smWAaVdi1KD3mNoLZ+j8JcS5KObhWVTiPrihvuMcGZS5Cu5KnqPk3aJ0u8/X1texCXPLqymVM70jgvFRxduBkhRNs02S+1l5i8SiFLYlB71EQB
cf5nNcL8k43AyAim6x6KSL7Vd+2Iccx2XKp9Xrl7LN+rNB+5cxmdKFK3DQpTeX0iSsstGyGfvs2VbBbD/ItLiH+UpQz38QYVJ0hqTTFCuM6VKSlekkYCdjf39e1PqbdZxR8/zqMBUCdAyRTYWZdQYUfHx/T/XT5FnWNWefIz4CrSYsOE7jWx6Yqr
s6asbH9+elnrAp3eLtS4oVlNTbjby/CfOcDLy88xgaaHJQdIJGv3OTsgO0ncZvXfj+jzGpeU7kAFKSWidvbGOMlKrPfdxhfxBxYXW2X8QaRl6Hw0hLNGGdcXMQZxwxqYWODYqzP0ewpTfIloPmuMUsw8JZgu3HfXLtB3KDfa2uNMX57S2B8fz8Dx
ntC3Nw4jHXyQya44wQhRWHRNF+i8eIDe8zXwMdHxdizEmQi/AV7UyCHV+wD+7oKkwh/wV4PO0Y6aXjl4YNn1iLfnZ3W6iagZkB3mClftsLxD1B+GTwfoPxizB3fWcU884KZxDxzhf8a33/4h87xvwAAAP//q+BB5kDwUYoAAAAASUVORK5CYII='>
                    <input type="text" class="form-control"
                           id="validateCode" name="validateCode"
                           placeholder="请输入验证码">
                </div>

                <div class="modal-footer-extended">
                  <button type="submit" class="btn btn-primary"><img src="img/booking-button.png" height="30"/></button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>

              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- User Create Modal End -->
  </div>

  <!-- Delete Confirmation Dialog Start -->
  <div id="show_user_info">
    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteDialogTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="deleteDialog">Warning!</h4>
          </div>
          <div class="modal-body">
            <h4>Are you sure, want to delete this vehicle? </h4>
            <input type="hidden" id="deleted-member-id" value="">
            <div class="modal-footer-extended">
              <button class="btn btn-danger" onclick="deleteMemberData()">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Confirmation Dialog End -->


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/time.js"></script>

</body>
</html>