<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Mei Zuhao">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login - Parking Lot System</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>

<body class="login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="img/logo.jpg" alt="logo">
					</div>
					<div class="card fat" id="login">
						<div class="card-body">
							<h4 class="card-title">登录</h4>
							<form method="POST" class="login-validation" novalidate="" id="loginForm" name="loginForm">
								<div class="form-group">
									<label for="username">用户名</label>
									<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
									<div class="invalid-feedback">
										请输入用户名
									</div>
								</div>

								<div class="form-group">
									<label for="password">密码</label>
									<input id="password" type="password" class="form-control" name="password" required>
								    <div class="invalid-feedback">
								    	请输入密码
							    	</div>
								</div>

								<div class="form-group">
									<div>
										<label for="validateCode">验证码</label>
									</div>
									<div id="captcha"></div>
									<input type="text" class="form-control"	id="validateCode" name="validateCode" required>
									<div class="invalid-feedback">
										请输入验证码
									</div>
								</div>

								<div class="form-msg">
									<p id="form-msg"></p>
								</div>

								<div class="form-group">
									<button onclick="Login()" type="button" class="btn btn-primary btn-block">
										登录
									</button>
								</div>
								<div class="mt-4 text-center">
									还没有账号? <a href="/register">注册</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2020 &mdash; Mei Zuhao 
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="js/login.js"></script>
</body>
</html>
